* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar section */
.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #AD0909;
    font-family: 'Inter';
    font-style: normal;
}
.navbar .logo {
    width: 100px;
    margin-top: 5px;
    margin-left: 40px;
}
.logo img {
    width: 150px;
    height: 150px;
}
.navbar .nav-links {
    width: 80%;
    height: 100%;
}
.nav-links ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    list-style: none;
    height: 100%;
}
.nav-links ul li {
    text-transform: uppercase;
    font-size: 20px;
    padding: 43px;
    height: 90px;
    display: flex;
    align-items: center;
}
li a {
    text-decoration: none;
    color: #ffff;
}
.nav-links .home {
    background-color: #9C0808; 
}
.nav-links .profile {
    padding-left: 60px;
}
.profile img {
    position: absolute;
    top: 3%;
}
.profile .profile-icon {
    position: absolute;
    right: 11.85%;
    top: 4%;
}


/* Section 1 */
.head-content {
    width: 100%;
}
.head-content .header-image {
    width: 100%;
}
.header-image img {
    width: 100%;
    height: 594px;
    object-fit: cover;
}
.head-content .heading {
    position: absolute;
    top: 25%;
    left:50%;
    transform: translate(-50%, 50%);
    color: #ffff;
    font-family: 'Inria Serif';
    font-size: 64px;
    text-transform: uppercase;
    width: 650px;
    text-align: center;
}
.heading .heading-span {
    font-size: 40px;
}
.head-content .msg-icon {
    background-color: #AD0909;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 65%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.msg-icon img {
    padding-top: 5px;
    width: 50px;
    height: 45px;
}


/* Section 2 */
.input-form {
    width: 100%; 
    text-align: center; 
}
.input-form .details-form {
    width: 65%;
    background-color:#AD0909;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 20px;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.details-form label, span {
    color: #ffff;
}
.details-form .form-block {
    display: flex;
    flex-direction: column;
}
.form-block label {
    margin-left: 25px;
    margin-bottom: 6px;
    letter-spacing: 0.135em;
}
.form-block input, select {
    padding: 15px;
    margin-left: 25px;
    border-radius: 10px;
    color: #8b8b8b;
    border: none;
    font-size: 20px;
    font-weight: 700;
    outline: none;
}
label[for='age']{
    text-align: start;
}
::placeholder {
    color: #8b8b8b;
}
.age-input input[placeholder="21"] {
    margin-right: 10px;
    width: 120px;
}
.age-input input[placeholder="25"] {
    margin-left: 10px;
    width: 120px;
}
.details-form button[type='submit'] {
    margin-top: 28px;
    padding: 15px;
    color: #fff;
    background-color:  #37AC00; 
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.135em;
    margin-left: 25px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}


/* Section 3 */
.sec-3-heading {
    background-color:#AD0909;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 20%;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    border-radius: 30px;
}
.sec-3-heading a {
    margin: 18%;
    width: 100%;
    color: #ffff;
    text-decoration: none;   
}
.sec-3-description {
    color:#AD0909;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 45%;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}
.steps-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.steps-section .step-down {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.step-down .step-left {
    width: 20%;
    height: 100%;
}
.step-left img {
    width: 80%;
    height: 410px;
}
.step-down .step-center {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step-center .step-1 {
    background-color: #AD0909;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 18px;
}
.step-center .step-2 {
    background-color: #AD0909;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 18px;
}
.step-center .step-3 {
    background-color: #AD0909;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 18px;
}
.step-center .step-4 {
    background-color: #AD0909;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18px;
}
.step-down .step-right{
    width: 20%;
}
.step-right img {
    width: 100%;
    height: 470px;
}


/* Section 4 */
.sec-4-heading {
    margin: 0px auto;
    margin-top: 150px;
    margin-bottom: 100px;
    width: max-content;
    font-family: 'Inter';
    font-style: normal;
    font-size: 55px;
    font-weight: 700;
    color: #AD0909;
}
.sec-4-heading .sec-4-tag {
    font-size: 64px;
    font-weight: 900;
    color:#AD0909;
}
.sec-4-blocks {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    place-items: center;
    row-gap: 100px;
    column-gap: 30px;
    margin-bottom: 50px;
}
.block {
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #000;
    width: 100%;
    height: 100%;
}
.block .block1-img1, .bloc2-img1, .block3-img1, .block4-img1, .block5-img1, .block6-img1 {
    width: 173px;
    height: 173px;
    position: relative;
}
.block1-img2 {
    position: absolute;
    left: 335px;
    top: 2060px;
}
.block2-img2 {
    position: absolute;
    top: 2070px;
    left: 865px;
    width: 5.5%;
}
.block3-img2 {
    position: absolute;
    top: 2065px;
    left: 1351px;
    width: 6.5%;
}
.block4-img2 {
    position: absolute;
    top: 2415px;
    left: 353px;
    width: 7%;
}
.block4-img3 {
    position: absolute;
    top: 2435px;
    left: 410px;
    width: 2%;
}
.block5-img2 {
    position: absolute;
    top: 2415px;
    left: 868px;
    width: 5%;
}
.block6-img2 {
    position: absolute;
    top: 2430px;
    left: 1355px;
    width: 6%;
}


/* Section 5 */
.sec-5-heading {
    width: 50%;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #AD0909;
    display: flex;
    flex-direction: column;
}
.sec-5-heading .sec-5-tag {
    font-size: 55px;
    color: #AD0909;
}
.sec-5-heading .sec-5-desc {
    padding: 10px;
}
.register-btn {
    width: 24%;
    margin: auto;
}
.sec-5-submit {
    margin: 0 auto;
    background-color: #AD0909;
    border: none;
    border-radius: 15px;
}
.sec-5-butn {
    display: inline-block;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 20px 90px;
}
.biodata {
    width: 36%;
    margin: 40px auto;   
}
.sec-5-biodata {
    margin: 0 auto;
    border: 2px solid #9C0808;
    border-radius: 15px;
    background: none;
}
.sec-5-biodata-butn {
    display: inline-block;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    text-decoration: none;
    color: #AD0909;
    padding: 20px 40px;   
}


/* Section 6 */
.slideshow {
    width: 100%;
    position: relative;
    margin: 10rem auto;
}
.slideshow .slide {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    margin: 50px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-1 {
    display: none;
}
.prev1-butn, .prev-butn, .next-butn {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev, .next {
    width: 1.5rem;
    cursor: pointer;
}
.prev img , .next img {
    width: 100%;
}
.slide-content {
    width: 80%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
}
.slide-content-heading-1, .slide-content-heading {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 0.135em;
    color: #AD0909;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.slide-content .blocks {
    border: 1px solid #a9a9a9;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    letter-spacing: 0.135em;
    width: 350px;
    height: 600px;
}
.blocks img {
    width: 100%;
}
.blocks h3 {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    padding: 15px 0;
}
.blocks p {
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    line-height: 208.52%;
}


/* Section 7 */
.sec-7-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.135em;
    color: #AD0909;
    margin-top: 100px;
    margin-bottom: 80px;
}
.membership-div {
    margin: 0 auto;
    width: 33%;
    background: #FFF2F2;
    border: 5px solid #9C0808;
    border-radius: 20px;
    text-align: center;
    font-family: 'Inter';
    letter-spacing: 0.01em;
    padding-top: 15px;
    padding-bottom: 30px;
    height: 450px;
}
.membership-title {
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
    color: #9C0808;
}
.membership-cost {
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    color: #9C0808;
    padding-top: 10px;
}
.month-cost {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    color: #9C0808;
    padding: 10px 0;
}
.membership-features {
    list-style: none;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.feature-points {
    font-weight: 700;
    font-size: 24px;
    padding: 7px;
}
.join-butn {
    border: none;
    width: 50%;
    margin: 40px 0;
    background: none;
}
.join-member-btn {
    border-radius: 40px;
    padding: 15px 70px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    background: #37AC00;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}


/* Section 8 */
.sec-8-img-div{
    width: max-content;
    margin: 0 auto;
    margin-top: 100px;
}
.sec-8-head-img {
    height: 100%;
    width: 100%;
}
.sec-8-about {
    width: 100%;
    position: relative;
}
.sec-8-about-div {
    width: 100%;
    text-align: center;
}
.sec-8-about-div .sec-8-about-folder {
    width: 55%;
    height: 100%;
}
.sec-8-about-div .sec-8-description {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.135em;
    color: #AD0909;
}
.sec-8-description .sec-8-head {
    font-weight: 700;
    font-size: 48px;
}
.sec-8-description .sec-8-main-desc {
    width: 80%;
    margin: auto;
}
.sec-8-main-desc .sec-8-head{
    padding: 10px 0;
}
.sec-8-main-desc .sec-8-about-logo {
    padding: 10px 0;
}
.sec-8-main-desc .sec-8-desc {
    line-height: 208.52%;
}
.sec-8-description .sec-8-left-design {
    position: absolute;
    top: 72%;
    left: 2%;
}
.sec-8-description .sec-8-right-design {
    position: absolute;
    right: 1%;
    top: -10%;
}


/* Section 9 */
.sec-9 {
    width: 100%;
    position: relative;
    margin-top: 5rem;
}
.sec-9-img {
    position: absolute;
    left: 14%;
    top: -4%;
    width: max-content;
}
.sec-9-img .cloud-icon{
    position: absolute;
    left: 45%;
}
.sec-9-img .bx-question-mark {
    position: absolute;
    left: 50%;
    top: 5%;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
}
.sec-9-head-part {
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}
.sec-9-head-part .sec-9-heading {
    font-size: 36px;
    letter-spacing: 0.135em;
    color: #AD0909;
    padding: 20px 0;
}
.sec-9-title {
    letter-spacing: 0.135em;
    color: #AD0909;
    font-size: 64px;
}
.sec-9-search-butn {
    width: 23%;
    margin: 1rem auto;
    background: #AD0909;
    border-radius: 15px;
    padding: 7px 15px;
}
.sec-9-search-butn .search-form {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
}
.search-form .search-icon {
    width: max-content;
    height: max-content;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}
.search-form .search-inpt {
    width: 75%;
    margin-left: 20px ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.135em;
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    opacity: 0.6;
}
.search-form input::placeholder {
    color: #ffffff;
}
.sec-9-ques-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: 4rem auto;
    row-gap: 120px;
    column-gap: 150px;
}
.sec-9-blocks {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
}
.sec-9-blocks .ques-block {
    color: #ffffff;
    background: #AD0909;
    border-radius: 20px;
    height: 50%;
    padding: 25px;
    font-weight: 800;
}
.sec-9-blocks .answer-block {
    color: #800303;
    height: 50%;
    padding: 15px;
    font-weight: 500;
}


/* Section 10 */
.sec-10 {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    /* position: relative; */
}
.sec-10 .sec-10-mid-img {
    position: absolute;
}

/* Footer section*/
.footer {
    background:#AD0909;
    text-align: center;
    padding-top: 1rem;
}
.logo-img {
    padding-bottom: 2rem;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    width: 70%;
    margin: 0 auto;
}
.foot-links-div {
    width: 20%;
}
.links-title {
    color: #ffffff;
    font-size: 24px;
    padding:  1.2rem 1rem;
}
.foot-links {
    border-top: 1px solid #DD9B9B;
    list-style: none;
    display: flex;
    flex-direction: column;   
    padding: 1.5rem 0;
}
.foot-links li {
    padding: .4rem;
}
.foot-links>li>a {
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 20px;
}
.footer-links .social-links {
    width: 100%;
}
.social-links .social-title {
    width: 100%;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}
.social-links .social-icons {
    padding: 1rem;
}
.social-icons>img {
    padding: 1rem;
    width: 60px;
    height: 60px;
}
.footer .footer-end {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #cbcbcb;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 1rem 0;
}
.footer-end .privacy-policy {
    padding: 0 2rem;
    border-left: .2rem solid #cbcbcb;
    border-right: .2rem solid #cbcbcb;
}
.footer-end .terms-condtns {
    padding-right: 3rem;
}
.footer-end .contact-us {
    padding-left: 3rem;
}